HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
!/gateway/checkstyle.xml
/gateway/checkstyle.xml
/checkstyle.xml
!/amplicode.xml
/amplicode.xml
/server/.mvn/wrapper/maven-wrapper.properties
/gateway/.mvn/wrapper/maven-wrapper.properties
